@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --mediumGreyOp: hsla(216, 12%, 54%,0.2);
    --darkBlue: hsl(213, 19%, 18%);
    --veryDarkBlue: hsl(216, 12%, 8%);
    --bodyCopy: 15px;
    --mobile: 375px;
    --desktop: 1440px;
    --light: 400;
    --bold: 700;
  }

html,body{
    font-family: 'Overpass', sans-serif;
    background-color: var(--veryDarkBlue);
    color: var(--white);
}

p{
    font-size: var(--bodyCopy);
    font-weight: var(--light);
    color: var(--lightGrey);
    letter-spacing: .5px;
    line-height: 1.5;
}
h1{
    font-weight: var(--bold);
}
h2,.btn,#thankYou p, .attribution, .message, .opt{
    text-align: center;
}
input[type=radio]{
    opacity: 0;
    position: fixed;
    width: 0;
}

.flexbox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.opt{
    display: block;
    position: relative;
    width: 3rem;
    height: 0;
    padding-bottom:3rem;
    background-color: var(--mediumGreyOp);
    line-height: 3;
    color: var(--white);
    border-radius: 50%;
    cursor: pointer;
}
.opt:hover{
    background-color: var(--mediumGrey);
}
#star{
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--mediumGreyOp);
}
.card{
    width: 90%;
    max-width: 40ch;
    background-color: var(--darkBlue);
    padding: 2rem;
    border-radius: 2rem;
    margin: 0 auto;
    margin-top: 5em;
}
#thankYou{
    display: none;
}
.imgBlock{
    width: 100%;
    height: 15ch;
    background: url(images/illustration-thank-you.svg)  no-repeat center;
}
.message{
    width: 100%;
    max-width: 25ch;
    margin: 0 auto;
    padding: .2rem;
    background-color: var(--mediumGreyOp);
    color: var(--orange);
    border-radius: 2rem;  
}
.btn{
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: var(--bold);
    letter-spacing: 2px;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}
.btn:hover{
    background-color: var(--white);
    color: var(--orange);
}